<div class='swiper' data-js='swiper'>
    <section class='component swiper'>
        <h2 id='clients'>Clients</h2>
        <div class='swiper-container'>
            <!-- Additional required wrapper -->
            <div class='swiper-wrapper'>
                <!-- Slides -->
                <div class='swiper-slide'>
                    <div class='swiper__img--one swiper__img'>

                    </div>

                    <div class='swiper-slide__content'>
                        <span class='swiper-slide__char swiper-slide__text'>”</span>
                        <span class='swiper-slide__text'>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </span>
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class='swiper__img--two swiper__img'>

                    </div>

                    <div class='swiper-slide__content'>
                        <span class='swiper-slide__char swiper-slide__text'>”</span>
                        <span class='swiper-slide__text'>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </span>
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class='swiper__img--three swiper__img'>

                    </div>

                    <div class='swiper-slide__content'>
                        <span class='swiper-slide__char swiper-slide__text'>”</span>
                        <span class='swiper-slide__text'>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </span>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class='swiper-pagination'></div>

        </div>
        <aside class='aside-nav'>
            <a class='aside__jump' href='#mission'>
                <img class='arrow-icon arrow-icon--up' src='./img/arrow.svg' alt='go up' />
            </a>
            2/5
            <a class='aside__jump' href='#products'>
                <img class='arrow-icon arrow-icon--down' src='./img/arrow.svg' alt='go down' />
            </a>
        </aside>
    </section>
</div>