<div class='contact' data-js='contact'>
    <section id='contact' class='contact_i'>
        <header class='contact__header'>
            <h2>Contact</h2>
        </header>
        <div class='content'>
            <div class='content-text'>
                Sed ut perspiciatis unde omnis iste natus error
                sit voluptatem accusantium doloremque laudantium,
                <span>totam rem aperiam</span>, eaque ipsa quae ab illo
                <span> inventore veritatis et </span> quasi
                architecto beatae vitae.
            </div>
            <div class='content-text'>
                <form data-js='form' class='content-text__form'>
                    <div class='content-text__row'>
                        <span>Hello! I'm</span>
                        <div class='content-text__part'>
                            <input class='content-text__input' id='name' type='text' required/>
                            <label class='small content-text__label' for='name'>Your Name</label>
                        </div>
                        <span>and I represent</span>
                        <div class='content-text__part'>
                            <input class='content-text__input' id='company' type='text' required />
                            <label class='small content-text__label' for='company'>Company Name</label>
                        </div>
                        <span class='end'>.</span>
                    </div>

                    <div class='content-text__row'>
                        <span>Call me at</span>
                        <div class='content-text__part'>
                            <input class='content-text__input' id='tel' type='tel' required/>
                            <label class='small content-text__label' for='tel'>Your telephone number</label>
                        </div>
                        <span> or send an email to</span>
                        <div class='content-text__part'>
                            <input class='content-text__input' id='email' type='email' required/>
                            <label class='small content-text__label' for='email'>Your email adress</label>
                        </div>
                        <span class='end'>.</span>
                    </div>
                    <div class='content-checkbox'>
                        <input type='checkbox' id='accept' required/>
                        <label for='accept'>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </label>
                    </div>
                    <button type='submit' class='btn' data-js='form-btn'>send details -></button>
                    <p id='content-info' class='content-info'></p>
                </form>
            </div>
        </div>

        <aside class='aside-nav'>
            <a class='aside__jump' href='#map'>
                <img class='arrow-icon arrow-icon--up' src='./img/arrow.svg' alt='go up' />
            </a>
            5/5
        </aside>
    </section>
</div>