<footer class='footer' data-js="footer">
        <div class='footer-content small'>
                ©Copyrights 2019 EG <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </div>

        <aside class='aside-nav'>
                To top
                <a class='aside__jump' href='#nav'>
                        <img class='arrow-icon arrow-icon--up' src='./img/arrow.svg' alt='go up' />
                </a>
        </aside>
</footer>