<div class='hero' data-js='hero'>
    <h1 class='hero-h1'>
        <span class='hero-h1_white'>PRAKTYKI</span>
        <span class='hero-h1_black'>INFINITY-GROUP</span>
    </h1>
    <div class='hero-cookies' id='hero-cookies' data-js='hero-cookies'>
        <div class='hero-cookies__img'>
        </div>
        <div class='hero-cookies__info'>
            We use own and third party cookies to improve our services and
            show ads related to your preferences by analizing
            your browser habits. If you continue browsing, we consider
            you accapt its use. You can switch the configuration learn more
            <a class='hero-cookies__a' href="#">here</a>
        </div>
        <div class='hero-cookies__btn'>
            <button data-cookies-btn>
                CLOSE X
            </button>
        </div>

    </div>
    <aside class='middle-nav'>

        <a class='aside__jump' href="#mission">
            <span>Read more...</span>
            <img class="arrow-icon arrow-icon--down" src='./img/arrow.svg' alt='go down' />

        </a>
    </aside>
</div>