<div class='map' data-js='map'>
        <section id='map' class='maps'>
                <header class='map__header'>
                        <h2> Map</h2>
                </header>
                <div class='map__content'>
                        <div class='map__adress'>
                                <span class='map__adress--bold'>Infinity Group sp.&nbsp;z&nbsp;o.o.</span><br />
                                ul. Składowa 12<br />
                                15-399 Białystok<br />
                                Polska
                        </div>
                        <div class='map__google'>
                                <iframe class='map__google__iframe'
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.4048231409756!2d23.12060897252282!3d53.12087821185083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ffb8cd96d9f03%3A0x4dd884d8e66a3265!2sSk%C5%82adowa+12%2C+15-727+Bia%C5%82ystok!5e0!3m2!1spl!2spl!4v1560722893482!5m2!1spl!2spl"
                                        allowfullscreen></iframe>
                        </div>
                </div>
                <aside class='aside-nav'>
                        <a class='aside__jump' href='#products'>
                                <img class='arrow-icon arrow-icon--up' src='./img/arrow.svg' alt='go up' />
                        </a>
                        4/5
                        <a class='aside__jump' href='#contact'>
                                <img class='arrow-icon arrow-icon--down' src='./img/arrow.svg' alt='go down' />
                        </a>
                </aside>
        </section>
</div>