<div class='products' data-js="products">
    <section id='products' class='icons'>
        <h2>Products</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
        <div class='icons-content'>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#folder"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#app"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#search"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#smartphone"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#settings"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#network"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#call"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#download"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#password"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#folder"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#call"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
            <div class="icons-content-icon">
                <svg class='icons-content-icon__svg'>
                    <use xlink:href="#smartphone"></use>
                </svg>
                <span class='icons-content-icon__text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </div>
        <aside class='aside-nav'>
            <a class='aside__jump' href='#clients'>
                <img class='arrow-icon arrow-icon--up' src='./img/arrow.svg' alt='go up' />
            </a>
            3/5
            <a class='aside__jump' href='#map'>
                <img class='arrow-icon arrow-icon--down' src='./img/arrow.svg' alt='go down' />
            </a>
        </aside>
    </section>
</div>